<app-date-picker></app-date-picker>

<div class="date">
  <h3>{{currentDate | date: 'EEEE, dd MMMM y'}}</h3>
</div>

<div *ngIf="allInformation">
  <mgl-timeline [toggle]=false>

    <mgl-timeline-entry *ngFor="let info of allInformation.entry">

      <mgl-timeline-entry-header >{{info.resource.resourceType}}</mgl-timeline-entry-header>

      <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>

      <mgl-timeline-entry-side>
        {{info.resource.effectiveDateTime}}
      </mgl-timeline-entry-side>

      <mgl-timeline-entry-dot></mgl-timeline-entry-dot>

    </mgl-timeline-entry>
  </mgl-timeline>



</div>
