mgl-timeline-entry-side {
  top: 20px;
}

mgl-timeline-entry-dot{
  background-color: #55c7ed;
 }

mgl-timeline{
  width: 75%;
  margin: 0 auto;
}

.date > h3,h4 {
  text-align: center;
  color: #ff5b62;
}

.moreBtn{
  text-align: center;
}
