<app-date-picker></app-date-picker>

<div class="date">
  <h3>{{currentDate | date: 'EEEE, dd MMMM y'}}</h3>
</div>

<mgl-timeline [toggle]=false>
  <mgl-timeline-entry >
    <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
    <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
    <mgl-timeline-entry-side>
      DATA
    </mgl-timeline-entry-side>

    <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
  </mgl-timeline-entry>

  <mgl-timeline-entry>
    <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
    <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
    <mgl-timeline-entry-side>DATE</mgl-timeline-entry-side>
    <mgl-timeline-entry-dot [size]=45></mgl-timeline-entry-dot>
  </mgl-timeline-entry>

  <mgl-timeline-entry>
    <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
    <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
    <mgl-timeline-entry-side>DATE</mgl-timeline-entry-side>
    <mgl-timeline-entry-dot [size]=45></mgl-timeline-entry-dot>
  </mgl-timeline-entry>
</mgl-timeline>
