<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2 *ngIf="response">
        <span *ngFor="let name of response.name[0].given">
          {{name}}
        </span>
        <span>{{response.name[0].family}}</span>

      </h2>
    </mat-card-title>
  </mat-card-header>
</mat-card>


<mat-expansion-panel >
  <mat-expansion-panel-header class="header">
    <mat-panel-title>
      <h4>Details</h4>
    </mat-panel-title>

  </mat-expansion-panel-header>

  <mat-tab-group>
    <mat-tab label="General">
      <div class="name">
        <h3>Name: </h3>
        <div *ngFor="let name of response.name">
          <b>{{name.use}}: </b><br>
          <span *ngFor="let given of name.given">{{given}} </span>
          <span>{{name.family}}</span>
        </div>

      </div>


      <mat-divider></mat-divider>

      <div>
        <b>Birth date: </b>{{response.birthDate}} <br>
        <b>Gender: </b>{{response.gender}}
      </div>

    </mat-tab>

    <mat-tab label="Contacts">
      <div *ngFor="let addr of response.address">
        <b>Address: </b>{{addr.line[0]}} <br>
        <b>City:</b> {{addr.city}} <br>
        <b>State: </b>{{addr.state}} <br>
        <b>Post-code: </b>{{addr.postalCode}} <br>
        <b>Country: </b>{{addr.country}} <br>
      </div>


      <mat-divider></mat-divider>

      <div *ngFor="let phone of response.telecom">
        <b>System </b>{{phone.system}}<br>
        <b>Value</b> {{phone.value}} <br>
      </div>
    </mat-tab>


  </mat-tab-group>

</mat-expansion-panel>
