
<app-search-input></app-search-input>

<div>
  <mat-action-list class="patient-list">
    <mat-list-item *ngFor="let patient of patients |
    paginate : {itemsPerPage: itemsPerPage, currentPage: currentPage}" (click)="showDetails(patient.resource.id)">
      <mat-icon mat-list-icon svgIcon="patient"></mat-icon>
      <h4 mat-line>Imię i nazwisko, id: {{patient.resource.id}}</h4>
      <p mat-line> Date of birth: {{patient.resource.birthDate}}</p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-action-list>
<!--"currentPage = $event"-->
  <pagination-controls (pageChange)=nextPage($event)></pagination-controls>
</div>

