<div class="uploader-status">
  <mat-spinner *ngIf="!response"></mat-spinner>
</div>

<div *ngIf="response">
  <h2 *ngIf="response.total == 0" class="error">Patient not found</h2>
  <mat-action-list class="patient-list">
    <mat-list-item *ngFor="let patient of patients |
    paginate : {itemsPerPage: itemsPerPage, currentPage: currentPage, total: response.total}" (click)="showDetails(patient.resource.id)">
      <mat-icon mat-list-icon svgIcon="patient"></mat-icon>
      <h4 mat-line>
        <span *ngFor="let name of patient.resource.name[0].given">
          {{name}}
        </span>
        <span>{{patient.resource.name[0].family}}</span>

      </h4>

      <p mat-line> Date of birth: {{patient.resource.birthDate}}</p>

      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-action-list>
  <pagination-controls (pageChange)=nextPage($event)></pagination-controls>
</div>

