<div class="uploader-status">
<mat-spinner *ngIf="!patients"></mat-spinner>
</div>

<div *ngIf="patients">
  <h2 *ngIf="patients.length == 0" class="error">Patient not found</h2>

  <mat-action-list class="patient-list">
    <mat-list-item *ngFor="let patient of patients |
    paginate : {itemsPerPage: itemsPerPage, currentPage: currentPage, total: response.total}" (click)="showDetails(patient.resource.id)">
      <mat-icon mat-list-icon svgIcon="patient"></mat-icon>
      <h4 mat-line>
        <span *ngFor="let name of patient.name">
          {{name.family}}
        </span>
        id: {{patient.resource.id}}
      </h4>

      <p mat-line> Date of birth: {{patient.resource.birthDate}}</p>

      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-action-list>
  <pagination-controls (pageChange)=nextPage($event)></pagination-controls>
</div>

